body{
	padding : 0px ;
	margin : 0px auto;
	line-height : 1.5 ;
	font-size : 13px ;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif ;
}

#wrap{
	background: url(img/bg1.gif);
    width: 100%;
}

#main{
	margin: 20px auto; 
    padding: 30px;
    max-width: 800px; 
	width: auto;
    background-color: #fff;
	border: 1px solid #b9d6cf;
	border-bottom: 2px solid #00cc9a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

footer{
    position:absolute;
    width: 100%;
    margin: auto;
    margin-bottom: 0;
    padding: 10px;
    text-align: end;
    right:0;
    bottom:0;
    background-color: #b9d6cf;
}